.row-comment-field {
  .new_comment {
    .comment-form {
      .input-comment {
        width: 400px;
        height: 60px;
        padding: 0px 5px;
        border-radius: 3px;
        min-width: 300px;
        min-height: 30px;
        border-color: DarkGray;
        float: left;
        margin: 0px 10px 10px 0px;
        font-size: 15px;
      }

      .send-button {
        height: 30px;
        border-radius: 3px;
        background-color: RoyalBlue;
        color: Snow;
        font-weight: 500;
        float: left;
        margin-right: 10px;
      }

      .cansell-button {
        height: 30px;
        border-radius: 3px;
        background-color: RoyalBlue;
        color: Snow;
        font-weight: 500;
        float: left;
      }
    }
  }

  .comment-index {
    height: 300px;
    width: 600px;
    border: solid;
    border-width: 0.5px;
    border-radius: 3px;
    overflow: scroll;
    margin-bottom: 20px;
    background-color: white;
    border-color: DarkGray;

    .comment-list {
      list-style: none;
      padding-left: 8px;
      margin-bottom: 0px;

      &__content {
        font-size: 18px;
        font-weight: 500;
        padding-top: 10px;
      }
      &__name {
        font-size: 12px;
        display: inline-block;
      }
      &__date {
        font-size: 12px;
        display: inline-block;
        padding-left: 10px;
      }
      &__modify {
        display: inline-block;
        padding-left: 10px;
        font-size: 12px;
        cursor: pointer;
      }
      &__delete {
        display: inline-block;
        padding-left: 10px;
        font-size: 12px;
        color: red;
        cursor: pointer;
      }
    }
  }
}
